[Desktop Entry]
Name=Homeworld
X-KDE-PluginInfo-Name=Homeworld
X-KDE-PluginInfo-Author=Juliet Taka
X-KDE-PluginInfo-Email=juliettetaka.belin@gmail.com
X-KDE-PluginInfo-License=GPLv2+
