[Desktop Entry]
Name=oyo
X-KDE-PluginInfo-Name=oyo
X-KDE-PluginInfo-Author=open.Yellow.os
X-KDE-PluginInfo-Email=xxx@xxx.com
X-KDE-PluginInfo-License=GPLv2+
