[Desktop Entry]
Type=Application
Version=1.0
Name=oYo UI Changer
GenericName=UI Changer
Keywords=oYo;UI;Changer;
TryExec=change-ui
Exec=change-ui
Comment=oYo UI Changer
Icon=gnome-system
Terminal=false
StartupNotify=true
Categories=System;
X-AppStream-Ignore=true

