[Desktop Entry]
Type=Application
Exec=canberra-gtk-play --id="desktop-login" --description="GNOME Login sound"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=起動音
Name=起動音
Comment[ja_JP]=起動音
Comment=起動音
